<ng-include src="'static/html/header.html'"></ng-include>
<div id="collection-body" class="container-fluid" ng-controller="CollectionController as vm">
	<div class="row">
		<div class="{{vm.currentCollection ? '' : 'nodisplay'}} col-xs-12">
			<div id="featured-image" ng-style="{'background-image': 'url('+ vm.currentCollection.imageUrl +'?output-format=webp)'}"></div>
			<div id="featured-text">
				<p id="featured-type">{{vm.currentCollection.type}}</p>
				<p>{{vm.currentCollection.description}}</p>
			</div>
		</div>
		<div class="{{vm.currentCollection ? 'nodisplay' : ''}} col-xs-12">
			<h3><strong>Collections - Sydney</strong></h3>
			<p>Create and browse lists of the finest restaurants</p>
		</div>
	</div>
	<div class="row {{vm.currentCollection ? '' : 'nodisplay'}}">
		<div class="col-xs-12">
			<div class="col-xs-12" id="restraurant-list">
				<div ng-repeat="r in vm.currentCollection.restaurantList" class="restaurant-item col-xs-6 col-md-4">
					<div class="restaurant-bgimg clickable align-right" ng-style="{'background-image': 'url('+ r.imageUrl +')'}">
						<p class="{{r.rate | rateClass}} restaurant-rate">{{!r.rate ? "-" : r.rate.toFixed(1)}}</p>
					</div>
					<div class="restaurant-text">
						<p class="restaurant-name nowrap">{{r.shortName}}</p>
						<p class="restaurant-address nowrap">{{r.address.textAddress | joinDistrictAndCity}}</p>
						<p class="restaurant-cuisine nowrap">{{r.cuisineList | joinNameOfList}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="{{vm.currentCollection ? '' : 'nodisplay'}} col-xs-12">
			<h4><strong>More Collections</strong></h4>
			<br />
		</div>
		<div class="col-xs-12">
			<div ng-repeat="item in vm.collections"
			 	class="col-sm-6 col-md-4 col-xs-12 featured-card clickable {{item.col}}" 
			 	ng-class-odd="'odd'" ng-class-even="'even'"
			 	ng-click="vm.gotoCollection(item.featuredId)">
			 	<div class="featured-box">
					<div class="featured-thumb-img col-xs-5" ng-style="{'background-image': 'url(' + item.thumbUrl + ')'}"></div>
					<div class="featured-text col-xs-7">
						<p class="featured-title">{{item.type}}</p>
						<p class="featured-desc">{{item.description | shortenDesc}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'static/html/footer.html'"></div>
