.container-fluid {
  max-width: 1160px; }

html, body {
  background: #F3F3F3; }

.clickable:hover {
  cursor: pointer; }

.center-bgimg, #index-page .featured-card .featured-thumb-img, #collection-body #featured-image, #collection-body .restaurant-bgimg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.btn {
  background-image: none;
  background-color: white;
  border: none;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-appearance: none; }

.darkred-style, .darkred-style:hover, .darkred-style:focus, .darkred-style:active:focus {
  outline: none;
  background-color: #cb202d;
  color: white; }

.skyblue-style, .skyblue-style:hover, .skyblue-style:focus, .skyblue-style:active:focus {
  outline: none;
  background-color: #33aedc;
  color: white; }

.default-input-height {
  height: 40px; }

.grey-text, #collection-body .restaurant-address, #collection-body .restaurant-cuisine {
  color: #89959B; }

* {
  font-family: 'Source Sans Pro', Arial, sans-serif; }

#index-header {
  width: 100%;
  background-image: url("../img/pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 370px; }
  #index-header .row {
    margin-bottom: 30px; }
  #index-header > div:first-child {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); }
  #index-header #header-buttons-row {
    padding: 20px 30px 0 30px; }
    #index-header #header-buttons-row .btn {
      padding: .6em 1.5em; }
    #index-header #header-buttons-row #right-side {
      display: inline-block;
      float: right; }
      #index-header #header-buttons-row #right-side .btn {
        padding: .6em 1em; }
  @media screen and (max-width: 767px) {
    #index-header #home-href {
      display: none; } }
  @media screen and (min-width: 768px) {
    #index-header #home-href {
      text-align: center; }
    #index-header #home-href a {
      border-radius: 3px;
      width: 110px;
      line-height: 110px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-weight: 600;
      font-size: 20px; } }
  #index-header #propaganda {
    text-align: center;
    color: white;
    margin: auto;
    font-size: 28px; }
  #index-header #search-row .col-xs-12 {
    padding: 0;
    margin-bottom: 10px; }
  #index-header #search-row button, #index-header #search-row input {
    width: 100%; }

#index-page #quick-search {
  background-color: white;
  margin-top: 5px;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 40px 10px 30px 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; }
  #index-page #quick-search .search-item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #index-page #quick-search .search-item p {
      margin-bottom: 20px; }
  @media screen and (min-width: 970px) {
    #index-page #quick-search .search-item {
      width: 12.5%; } }
  #index-page #quick-search .search-item-box {
    text-align: center;
    margin: auto; }
  #index-page #quick-search img {
    width: 48px;
    height: 48px; }
  #index-page #quick-search p, #index-page #quick-search img, #index-page #quick-search .search-item {
    margin: auto; }
#index-page #statistic {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 10px; }
#index-page #book-form {
  background-color: white;
  padding: 15px 15px 32px 15px;
  border-radius: 3px; }
  #index-page #book-form .dropdown, #index-page #book-form .btn-group {
    width: 100%; }
    #index-page #book-form .dropdown .dropdown-toggle, #index-page #book-form .btn-group .dropdown-toggle {
      border: 1px solid #e7e7e7;
      border-radius: 3px;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -webkit-appearance: none;
      color: black;
      width: 100%;
      height: 40px;
      background-color: white; }
    #index-page #book-form .dropdown .dropdown-toggle:hover, #index-page #book-form .dropdown .dropdown-toggle:active, #index-page #book-form .btn-group .dropdown-toggle:hover, #index-page #book-form .btn-group .dropdown-toggle:active {
      background-color: white; }
    #index-page #book-form .dropdown .dropdown-caret, #index-page #book-form .dropdown .dropdown-text, #index-page #book-form .btn-group .dropdown-caret, #index-page #book-form .btn-group .dropdown-text {
      display: inline-block;
      width: 50%;
      margin-bottom: 0; }
    #index-page #book-form .dropdown .dropdown-caret, #index-page #book-form .btn-group .dropdown-caret {
      text-align: right; }
    #index-page #book-form .dropdown .dropdown-text, #index-page #book-form .btn-group .dropdown-text {
      text-align: left; }
    #index-page #book-form .dropdown .dropdown-menu, #index-page #book-form .btn-group .dropdown-menu {
      width: 100%; }
  #index-page #book-form #book-button {
    width: 100%;
    margin-top: 20px; }
#index-page .featured-card {
  display: inline-block;
  background-color: white;
  height: 120px;
  margin-bottom: 20px;
  border-radius: 3px; }
  #index-page .featured-card .featured-thumb-img {
    border-radius: 3px 0 0 3px;
    height: 100%; }
  #index-page .featured-card .featured-text {
    padding-top: 10px;
    color: black; }
    #index-page .featured-card .featured-text .featured-title {
      font-weight: 600;
      font-size: 15px; }
#index-page .featured-card:last-child {
  float: right; }
#index-page #all-collections-href {
  line-height: 44px;
  background-color: white;
  color: #cb202d;
  margin: 0 -15px 0 -15px;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  display: block; }
@media screen and (max-width: 767px) {
  #index-page .featured-card {
    width: 100%; } }
@media screen and (min-width: 768px) {
  #index-page .featured-card {
    width: 49%; } }

#rest-info-body {
  margin-top: 20px; }
  #rest-info-body #rest-info-col {
    width: 70%; }
    #rest-info-body #rest-info-col > div:first-child, #rest-info-body #rest-info-col #details {
      border-radius: 4px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); }
    #rest-info-body #rest-info-col #bg-img {
      height: 300px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 4px 4px 0 0; }
    #rest-info-body #rest-info-col #rest-brief {
      background-color: #fafafa;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
      padding: 10px 20px 0 20px; }
  #rest-info-body .left {
    margin-left: 0;
    width: 70%; }
    #rest-info-body .left div:last-child {
      color: #89959B;
      font-size: 14px;
      font-size: 600; }
  #rest-info-body .right {
    margin-right: 0;
    width: 30%; }
  #rest-info-body #rest-name {
    font-weight: 600;
    font-size: 28px; }
  #rest-info-body #rate {
    text-align: center;
    width: 80px;
    float: right;
    height: 40px;
    background-color: #9ACD32;
    line-height: 40px;
    color: white;
    font-weight: 600;
    border-radius: 4px; }
    #rest-info-body #rate span:first-child {
      font-size: 28px; }
    #rest-info-body #rate span:last-child {
      font-size: 21px; }
  #rest-info-body #book-table {
    background-color: #fafafa;
    padding: 0 20px 0 20px;
    border-radius: 0 0 4px 4px; }
    #rest-info-body #book-table > div {
      border-top: 1px solid rgba(200, 200, 200, 0.4);
      padding: 10px 0 15px 0; }
  #rest-info-body #details {
    margin-top: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white; }
    #rest-info-body #details .details-col {
      margin: 0 auto;
      width: 33%; }
    #rest-info-body #details .details-col:first-child {
      margin-left: 0; }
    #rest-info-body #details .details-row {
      margin-bottom: 20px; }
    #rest-info-body #details .detail-name {
      font-size: 16px;
      font-weight: 600; }
    #rest-info-body #details .detail-value {
      margin-top: 5px; }
    #rest-info-body #details .highlight {
      margin-top: 0;
      margin-bottom: 0; }
      #rest-info-body #details .highlight i {
        color: #099E44; }

#embeddable-header {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  #embeddable-header .col-xs-12 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; }
    #embeddable-header .col-xs-12 div[class="input-group"] {
      width: 60%;
      margin: auto 0 auto 5%; }
      #embeddable-header .col-xs-12 div[class="input-group"] span {
        background-color: white;
        border-right: 0;
        font-size: 13px;
        opacity: .7;
        padding-right: 0; }
      #embeddable-header .col-xs-12 div[class="input-group"] input {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -webkit-appearance: none;
        border-left: 0; }
    #embeddable-header .col-xs-12 button:first-child {
      height: 60px;
      font-weight: 600; }
    #embeddable-header .col-xs-12 button:nth-of-type(2) {
      margin: auto auto auto 0; }
    #embeddable-header .col-xs-12 button:nth-of-type(3) {
      margin: auto auto auto 5%; }
    #embeddable-header .col-xs-12 button:last-child {
      padding-left: 20px;
      padding-right: 20px;
      margin: auto 0 auto 5%;
      border: 1px solid #e0e0e0; }

#footer {
  margin-top: 20px;
  height: 200px;
  background-color: #282C35; }
  #footer .row {
    margin-top: 20px; }
  #footer button {
    height: 65px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px; }
  #footer #info {
    height: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; }
    #footer #info p {
      color: #ADB0B6;
      margin: auto auto auto 0; }

#collection-body {
  margin-top: 20px; }
  #collection-body .row {
    margin-bottom: 20px; }
  #collection-body #featured-image {
    height: 300px;
    border-radius: 3px 3px 0 0; }
  #collection-body #featured-text {
    background-color: white;
    padding: 20px 0 20px 10px;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2); }
  #collection-body #featured-type, #collection-body .restaurant-name {
    font-size: 18px;
    font-weight: 600; }
  #collection-body #restraurant-list {
    padding: 10px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px; }
  #collection-body .restaurant-item {
    padding: 5px 5px 10px 5px; }
  #collection-body .restaurant-bgimg {
    height: 150px;
    border-radius: 3px; }
  #collection-body .restaurant-text {
    padding-top: 10px; }
  #collection-body .restaurant-name, #collection-body .restaurant-address, #collection-body .restaurant-cuisine {
    margin: 0; }

/*# sourceMappingURL=zomato.css.map */
