.featured-card {
  display: inline-block;
  height: 120px;
  padding: 0;
  margin-bottom: 20px;
  border-radius: $default-radius;
  .featured-box, .featured-thumb-img, .featured-text {
    height: 100%;
    display: inline-block;
  }
  .featured-box {
    border-radius: $default-radius;
    @include stereoscopic;
  }
  .featured-thumb-img {
    border-radius: $default-radius 0 0 $default-radius;
    @extend  .center-bgimg;
  }
  .featured-text {
    border-radius: 0 $default-radius $default-radius 0;
    background-color: white;
    padding-top: 10px;
    color: black;
    text-align: left;
    .featured-title {
      font-weight: 600;
      font-size: 15px;
      margin-bottom: 4px;
    }
  }
  @media screen and (max-width: $small - 1) {
    .featured-box {
      width: 100%;
    }
  }
}
.nolevel {
  background-color: #CDCDCD;
}
.level1 {
  background-color: #FF7800;
}
.level2 {
  background-color: #FFBA00;
}
.level3 {
  background-color: #CDD614;
}
.level4 {
  background-color: #9ACD32;
}
.level5 {
  background-color: #5BA829;
}
.level6 {
  background-color: #3F7E00;
}

.container-style {
  background-color: white;
  border-radius: $default-radius;
  @include stereoscopic;
}

.restaurant-rate {
  line-height: 30px;
  text-align: center;
  border-radius: $default-radius;
  color: white;
  font-weight: 600;
  display: inline-block;
}

@media (min-width: $small) {
  .visible-on-mobile, .only-mobile-visible {
    display: none;
  }
}
@media  (max-width: $small - 1) {
  .mobile-invisible {
    display: none;
  }
}
#recommand-restaurants {
  padding-left: 0;
  .container-style {
    overflow: auto;
    margin-bottom: 20px;
  }
  .col-xs-4 {
    padding: 0;
    text-align: center;
    .restaurant-box {
      width: 95%;
      display: inline-block;
    }
    .restaurant-name,.restaurant-addr {
      font-size: 12px;
      text-align: left;
    }
    .restaurant-name {
      margin-bottom: 0;
    }
  }
  .recommend-thumb {
    width: 100%;
    height: 80px;
    display: inline-block;
    border-radius: $default-radius;
  }
  .inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  .restaurant-rate {
    width: 30px;
    font-size: 12px;
  }
}
