#embeddable-header {
  #component-container {
    @include flex;
    .component {
      margin: auto;
      text-align: center;
    }
  }
  input {
    @include noshadow;
  }
}
@media (min-width: $small) {
  #embeddable-header {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    #index-href button {
      line-height: 50px;
      @include redbtn;
    }
    border-bottom: 1px solid rgba(0,0,0,.1);
    #input-box {
      padding-right: 0;

    }
    #button-box {
      padding-left: 0;
      text-align: left;
    }
    .component {
      margin: auto;
      padding: 0;
    }
    #component-container {
      div[class="input-group"] {
        span {
          background-color: white;
          border-right: 0;
          font-size: 13px;
          padding-right: 0;
        }
        input {
          border-left: 0;
        }
      }
    }
  }
}
@media (max-width: $small - 1) {
  .content-body {
    margin-top: $mobile-header-height;
  }
  #embeddable-header {
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    #component-container {
      height: 40px;
      .col-xs-8 {
        @include flex;
      }
    }
    background-color: $default-red;
    .mobile-icon {
      font-size: 15px;
      color: white;
    }
    .component {
      padding: 0;
    }
    #component-container>div.component:first-child {
      margin-left: 0;
      text-align: left;
      button {
        padding-left: 0;
      }
    }
    #component-container>div.component:last-child {
      margin-right: 0;
      text-align: right;
    }
    button {
      @include button-style;
      border: none;
      background-color: transparent;
    }
    input {
      color: white;
    }
    #input-box {
      input {
        border: 1px solid white;
        background-color: $default-red;
        border-radius: 4px;
      }
      .input-group {
        width: 100%;
      }
      padding: 0;
    }
    #button-box {
      padding: 0;
      margin: auto;
      span {
        padding: 0;
      }
    }

    #mobile-search-icon {
      background-color: $default-red;
      color: white;
      border: none;
    }
    input::-webkit-input-placeholder {
      color: white !important;
    }

    input:-moz-placeholder { /* Firefox 18- */
      color: white !important;
    }

    input::-moz-placeholder {  /* Firefox 19+ */
      color: white !important;
    }

    input:-ms-input-placeholder {
      color: white !important;
    }
  }
}
