#search-body {
  @media screen and (min-width: $medium) {
    .col1 {
      width: 20%;
      padding-right: 0;
    }
    .col3 {
      width: 30%;
    }
    .info-row-2 {
      padding: 0 15px;
    }
  }
  @media screen and (min-width: $small) and (max-width: $medium - 1) {
    .col3 {
      display: none;
    }
    .col2 {
      padding-left: 0;
    }
  }
  @media (min-width: $small) {
    #filters, .criterion {
      padding: 0;
    }
  }
  @media screen and (max-width: $small - 1) {
    .text-info {
      padding: 0;
    }
    .col2 {
      padding-left: 15px;
    }
    div#filter-container.filters-open {
      top: $mobile-header-height;
      margin-left: -15px;
      height: 100%;
      overflow-y: scroll;
    }
    div#filter-container.filters-collapsed {
      bottom: 0;
      height: auto;
    }
    div#filter-container.filters-collapsed, div#filter-container.filters-open {
      position: fixed;
      z-index: 4;
      padding: 0;
    }
    div#filters.filters-collapsed, .filter-collapsed, .col2.hidden {
      display: none;
    }
    #filter-container {
      background-color: #EDF1F4;
      border-radius: 0;
    }
    #filters {
      padding-top: 20px;
    }
    #filter-tag {
      line-height: 40px;
      background-color: #cb202d;
      color: white;
      padding: 0;
      margin: 0 0 0 -15px;
      text-align: center;
    }
    .criterion {
      margin-left: -15px;
      margin-right: -15px;
      padding: 20px 15px;
      background-color: white;
      line-height: 40px;
      li {
        line-height: 25px;
      }
    }
  }
  #paging-container {
    text-align: center;
  }
  .pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover,
  .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover,
  .pagination > li > a, .pagination > li > span {
    color: $default-blue;
  }
  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span,
  .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: $default-blue;
    border-color: $default-blue;
    color: white;
  }
  .nav-more .more {
    color: $default-red;
  }
  .criterion {
    list-style-type: none;
  }

  .filter-item {
    transition: background-color 500ms linear;
  }
  .filter-item.active {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #9ACD32;
    span {
      color: white;
    }
  }
  .criterion .active {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    transition: background-color 500ms linear;
    span {
      color: white;
    }
  }
  .filter-item p, .name, .address, .district {
    margin-bottom: 5px;
  }
  .criterion {
    margin-bottom: 20px;
  }
  .thumb, .text-info, .restaurant-rate, .key, .value {
    display: inline-block;
  }
  .name, .district {
    font-weight: 600;
  }
  .name {
    font-size: 20px;
    color: $default-red;
  }
  .district {
    color: black;
  }
  .thumb {
    height: 110px;
    border-radius: $default-radius;
  }
  .restaurant-rate, .stats-value {
    float: right;
  }
  .basic-info-box {
    padding: 0 15px;
  }
  .info-line {
    padding-top: 10px;
  }
  .basic-info {
    border-bottom: 1px solid rgba(200, 200, 200, 0.3);
    padding: 0 0 15px 0;
  }
  .info-row-3 {
    border-top: 1px solid rgba(200, 200, 200, 0.3);
  }
  .restaurant {
    padding: 15px 0;
    @extend .container-style;
    margin-bottom: 20px;
  }
  .restaurant-rate {
    max-width: 40px;
  }

  .key, .value, .info-row-3, .table-book-button, .phone {
    padding: 0;
  }
  .basic-info, .restaurant, .basic-info-box, .info-line {
    overflow: auto;
  }
  .phone, .table-book-button {
    padding-top: 15px;
    text-align: center;
  }

  #recommand-restaurants {
    padding-left: 0;
    .container-style {
      overflow: auto;
      margin-bottom: 20px;
    }
    .col-xs-4 {
      padding: 0;
      text-align: center;
      .restaurant-box {
        width: 95%;
        display: inline-block;
      }
      .restaurant-name,.restaurant-addr {
        font-size: 12px;
        text-align: left;
      }
      .restaurant-name {
        margin-bottom: 0;
      }
    }
    .thumb {
      width: 100%;
      height: 80px;
    }
    .inner {
      padding-left: 10px;
      padding-right: 10px;
    }
    .restaurant-rate {
      width: 30px;
      font-size: 12px;
    }
  }
}
