
.container-fluid {
  max-width: 1160px;
}
$default-red: #cb202d;
$default-blue: #33aedc;
$default-radius: 3px;
$medium: 992px;
$small: 768px;
$mobile-header-height: 40px;

.nodisplay {
  display: none;
}
.nowrap {
  white-space: nowrap;
  overflow: hidden;
}
.box {
  overflow: auto;
}
html, body {
  background: #F3F3F3;
}

@mixin noshadow {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-appearance: none;
}

@mixin button-style {
  background-image: none;
  background-color: white;
  text-shadow: none;
  @include noshadow;
}

@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

@mixin skyblue-style {
  background-color: #33aedc;
  color: white;
}

@mixin darkred-style {
  background-color: #cb202d;
  color: white;
}

.clickable:hover {
  cursor: pointer;
}
.align-right {
  text-align: right;
}

@mixin block-href {
  text-decoration: none;
  display: block;
}

.center-bgimg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin stereoscopic {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}

.btn {
  @include button-style;
}
.red-btn {
  @extend .btn;
  border: 1px solid $default-red;
  @include darkred-style;
}

@mixin redbtn{
  @include button-style;
  border: 1px solid $default-red;
  @include darkred-style;
}
.blue-btn {
  @extend .btn;
  border: 1px solid #33aedc;
  @include skyblue-style;
}
.darkred-style, .darkred-style:hover, .darkred-style:focus, .darkred-style:active:focus {
  outline: none;
  @include darkred-style;
}
.skyblue-style, .skyblue-style:hover, .skyblue-style:focus, .skyblue-style:active:focus {
  outline: none;
  @include skyblue-style;
}

.default-input-height {
  height: 40px;
}
.grey-text {
  color: #89959B;
}
.grey-border {
  border: 1px solid #e7e7e7;
}
.nopadding {
  padding: 0;
}
#spinner {
  display: none;
}
#spinner.active {
  z-index: 100;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  display: block;
  background-color: black;
}
#spinner i {
  position: relative;
  color: $default-red;
  top: 50%;
  left: 50%;
  font-size: 50px;
}

* {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

@import "index-page.scss";
@import "restaurant.scss";
@import "header.scss";
@import "footer.scss";
@import "collection.scss";
@import "common.scss";
@import "search.scss";
@import "modal.scss";
