
<div id="index-header">
	<div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12" id="header-buttons-row">
					<button style="display: none" class="btn btn-default darkred-style">Looking
						for a job</button>
					<div id="right-side">
						<button class="btn btn-default skyblue-style">Book a Table</button>
						<button class="btn btn-default">Log in</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12" id="home-href">
					<a class="darkred-style" href="/">ZOMATO</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<p id="propaganda">Find the best restaurants, cafés, and bars in Sydney</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12" id="search-row">
					<div class="col-xs-12 col-sm-7 col-sm-offset-2">
						<input type="text" class="form-control default-input-height" placeholder="Search for restaurants or cusines." />
					</div>
					<div class="col-xs-12 col-sm-1">
						<button type="button"
							class="btn btn-default darkred-style default-input-height">search</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" ng-controller="BodyController as vm"
	id="index-page">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<h2>Collections</h2>
			<p class="grey-text">Explore curated lists of top restaurants, cafes, pubs, and bars in and around Sydney, based on trends</p>
			<div ng-repeat="item in vm.collections"
			 	class="col-sm-6 col-xs-12 featured-card clickable"
			 	ng-class-odd="'odd'" ng-class-even="'even'"
			 	ng-click="vm.gotoCollection(item.featuredId)">
			 	<div class="featured-box">
				<div class="featured-thumb-img col-xs-5" ng-style="{'background-image': 'url(' + item.thumbUrl + ')'}"></div>
				<div class="featured-text col-xs-7">
					<p class="featured-title">{{item.type}}</p>
					<p class="featured-desc">{{item.description | shortenDesc}}</p>
				</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div id="all-collections-href" class="clickable" ng-click="vm.gotoCollection('all')">All collections in Sydney</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<h2>Book a Table</h2>
			<p class="grey-text">Book tables at the best restaurants in Sydney</p>
			<div id="book-form">
				<div class="btn-group" uib-dropdown>
					<h5>Select date</h5>
					<button id="date-button" type="button" class="btn btn-primary"
						uib-dropdown-toggle ng-disabled="disabled">
						<p class="dropdown-text">Today, 11 Jan</p>
						<p class="dropdown-caret">
							<span class="caret"></span>
						</p>
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu"
						aria-labelledby="date-button">
						<li role="menuitem"><a href="#">Action</a></li>
					</ul>
				</div>
				<div class="btn-group" uib-dropdown>
					<h5>Number of guests</h5>
					<button id="guest-number-button" type="button" class="btn btn-primary"
						uib-dropdown-toggle ng-disabled="disabled">
						<p class="dropdown-text">2 guests</p>
						<p class="dropdown-caret">
							<span class="caret"></span>
						</p>
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu"
						aria-labelledby="guest-number-button">
						<li role="menuitem"><a href="#">Action</a></li>
					</ul>
				</div>
				<div class="btn-group" uib-dropdown>
					<h5>Time</h5>
					<button id="time-button" type="button" class="btn btn-primary"
						uib-dropdown-toggle ng-disabled="disabled">
						<p class="dropdown-text">Dinner</p>
						<p class="dropdown-caret">
							<span class="caret"></span>
						</p>
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu"
						aria-labelledby="time-button">
						<li role="menuitem"><a href="#">Action</a></li>
					</ul>
				</div>
				<div class="btn-group">
					<button id="book-button" class="btn btn-default skyblue-style">Book a Table</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2>Quick Searches</h2>
			<p class="grey-text">Discover restaurants by type of meal
				{{vm.quickSearches.length}}</p>
			<div id="quick-search">
				<div class="search-item col-sm-3 col-xs-6" ng-repeat="i in vm.quickSearches">
					<div class="search-item-box clickable" ng-click="vm.gotoCategorySearch(i.name)">
						<img ng-src="{{i.imageUrl}}" />
						<p>{{i.name}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2>Popular localities in and around Sydney</h2>
			<p class="grey-text">Explore restaurants, bars, and cafés by locality</p>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-12" id="statistic">
				<div class="col-sm-4 col-xs-6" ng-repeat="row in vm.stats">
					<p>{{row.district}} <span class="grey-text">({{row.number}} places)</span></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'static/html/footer.html'"></div>
