#footer {
  margin-top: 20px;
  height: 200px;
  background-color: #282C35;
  .row {
    margin-top: 20px;
  }
  button {
    height: 65px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
  }
  #info {
    height: 60px;
    border-top: 1px solid rgba(255,255,255,.3);
    border-bottom: 1px solid rgba(255,255,255,.3);
    @include flex;
    p {
      color: #ADB0B6;
      margin: auto auto auto 0;
    }
  }
}
