#index-header {
  width: 100%;
  background-image: url("../img/pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 370px;
  .row {
    margin-bottom: 30px;
  }
  >div:first-child {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
  }
  #header-buttons-row {
    padding: 0 30px 0 30px;
  }
  #main-logo {
    height: 110px;
    width: 110px;
    line-height: 110px;
    text-align: center;
    margin: auto;
    text-decoration: none;
    display: block;
    font-weight: 600;
    font-size: 20px;
  }

  #header-buttons-row {
    padding-top: 20px;
    .btn {
      padding: .6em 1.5em;
    }
    #right-side {
      display: inline-block;
      float: right;
      .btn {
        padding: .6em 1em;
      }
    }
  }

  #propaganda {
    text-align: center;
    color: white;
    margin: auto;
    font-size: 28px;
  }

  #search-row {
    margin: auto;
    text-align: center;
    .search-input {
      display: inline-block;
      vertical-align: top;
      height: 40px;
    }
    button[class*="dropdown-toggle"] {
      min-width: 180px;
    }
    input[class*="search-input"] {
      min-width: 180px;
      max-width: 500px;
      width: 500px;
    }
    >button:last-child {
      padding-left: 1.5em;
      padding-right: 1.5em;;
    }
  }
}
#index-page {
  #quick-search {
    @include flex;
    .search-item {
      @include flex;
      width: 12.5%;
    }
    .search-item-box {
      text-align: center;
      margin: auto;
    }
    img {
      width: 48px;
      height: 48px;
    }
    p, img, .search-item  {
      margin: auto;
    }
  }
  #book-form {
    .dropdown {
      width: 100%;
      .dropdown-toggle {
        border: 1px solid #e7e7e7;
        color: black;
        width: 100%;
        height: 40px;
        background-color: white;
      }
      .dropdown-toggle:hover,  .dropdown-toggle:active{
        background-color: white;
      }
      .dropdown-caret, .dropdown-text {
        display: inline-block;
        width: 50%;
        margin-bottom: 0;
      }
      .dropdown-caret {
        text-align: right;
      }
      .dropdown-text {
        text-align: left;
      }
      .dropdown-menu {
        width: 100%;
      }
    }
  }
  .featured-card {
    display: inline-block;
    background-color: white;
    height: 120px;
    margin-bottom: 20px;
    border-radius: $default-radius;
    .featured-thumb-img {
      border-radius: $default-radius 0 0 $default-radius;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .featured-text {
      padding-top: 10px;
      color: black;
      .featured-title {
        font-weight: 600;
        font-size: 15px;
      }
    }
  }
  .featured-card:last-child {
    float: right;
  }
  #all-collections-href {
    line-height: 44px;
    background-color: white;
    color: $default-red;
    margin: 0 -15px 0 -15px;
    text-align: center;
    border-radius: $default-radius;
    @include block-href;
  }
  @media screen and (max-width : 767px) {
    .featured-card {
      width: 100%;
    }
  }
  @media screen and (min-width : 768px) {
    .featured-card {
      width: 49%;
    }
    #quick-search {
      height: 142px;
      background-color: white;
      margin-top: 5px;
      border-radius: $default-radius;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    }
    #statistic {
      height: 320px;
      background-color: white;
      border-radius: $default-radius;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
      @include flex;
      .stat-box {
        width: 32%;
        padding: 15px 0 0 30px;
      }
      .stat-item {
        margin-bottom: 10px;
      }
    }
  }
}
